html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

a {
  text-decoration: none;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  margin-right: 5px;
}

.mdl-textfield {
  padding-top: 27px;
}
.mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}

.mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}

.drawer-header {
  box-sizing: border-box;
  justify-content: flex-end;
  padding: 20px;
}

.mdl-navigation {
  flex-grow: 1;
}

.mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
  font-size: 24px;
}

.mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.content {
  max-width: 1080px;
}

/* Full Page */

.full-card-wide.mdl-card {
  width: 1080px;
}
.full-card-wide > .mdl-card__title {
  min-height: 400px;
}

/* Group cards */

.group-card-wide.mdl-card {
  width: 1080px;
}

.group-card-wide > .mdl-card__title {
  height: 230px;
  background: url('/images/gold-medal.jpg') center / cover;
}

/* Result cards */

.result-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.result-card-square > .mdl-card__title {
  color: #fff;
  background: #46B6AC;
}

/* Form Cards */

.form-card.mdl-card {
  color: #fff;
  width: 320px;
  height: 320px;
}

.form-card > .mdl-textfield__label {
  color: #b3b3b3;
}

/* Activity cards */

.activity-card-event.mdl-card {
  width: 256px;
  height: 256px;
  background: #3E4EB8;
}
.activity-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.activity-card-event > .mdl-card__title {
  align-items: flex-start;
}
.activity-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.activity-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.activity-card-event > .mdl-card__title,
.activity-card-event > .mdl-card__actions,
.activity-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

/* Add Activity */
.activity-button {
  font-size: 70px;
  padding: 100px;
}
