<h1><%= @activity.name %></h1>
<div class="mdl-grid">
<div class="mdl-cell--middle mdl-cell--4-col">
  Date: <%= @activity.date %>
</p>
<p>
  Time: <%= @activity.time %>

</p>
<p>
  Location: <%= @activity.location %>
</p>
<a href="/groups/:group_id">Back to Group</a>
</div>
</div>




