<%= erb :'_drawer' %>
  <main class="mdl-layout__content">

    <h1> Create a new group</h1>

    <form method="post" action="/groups">
      <label>Title:</label>
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>

</main>
