<div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
  <header class="drawer-header">
    <img src="<%= @current_user.picture %>" class="avatar">
    <span><%= @current_user.name %></span>
    <div class="mdl-layout-spacer"></div>
  </header>
  <nav class="mdl-navigation mdl-color--blue-grey-800">
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">face</i>user</a>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">face</i>user</a>
    <div class="mdl-layout-spacer"></div>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">clear</i><span class="visuallyhidden">Log Out</span></a>
  </nav>
</div>
