<div class="mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
  <header class="drawer-header">
    <img src="/mdl/user.jpg" class="avatar">
    <span>hello@example.com</span>
    <div class="mdl-layout-spacer"></div>
  </header>
  <nav class="mdl-navigation mdl-color--blue-grey-800">

    <% @users.each do |user| %>
      <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">face</i>user.name</a>
    <% end %>

    <div class="mdl-layout-spacer"></div>
    <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
  </nav>
</div>
