<%= erb :'_drawer' %>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid content">

    <% if @groups.length > 0 %>
      <%= erb :'_groupcard', locals: { groups: @groups } %>
    <% else %>
      <h2>No groups found!</h2>
      <a href="/">Back to home</a>
    <% end %>

  </div>
</main>
