<%= erb :'_drawer' %>
  <main class="mdl-layout__content mdl-color--grey-100">
    <div class="mdl-grid content">

    <% if @groups.length > 0 %>
      <%= erb :'_groupcard', locals: { groups: @groups } %>
    <% else %>
    <main class="mdl-layout__content mdl-color--grey-100"><div class="mdl-grid content">
        <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
          <div class="mdl-card__supporting-text">
            <h2>No groups found!</h2>
          </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" href="/">
                <i class="material-icons">arrow_back</i></a>
              </a>
          </div>
        </div>
      </div></main>
    <% end %>

  </div>
</main>
