<h1>Results</h1>
<% @groups.each do |group| %>
  <p><%= group.name %></p>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Join me!</button>
<% end %>
<p>Want to create a new group?</p>
<form method="post" action="/groups/new">
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" id="sample3">
    <label class="mdl-textfield__label" for="sample3" name="group_name">Group name...</label>
  </div>
</form>
</form>
