<h1>400 error</h1>

<% if @errors.errors.any? %>
  <div>
    <strong>There was an error in posting your message</strong>
    <ul>
      <% @errors.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
